* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #090909;
    font-family: Arial, Helvetica, sans-serif;
}

header { 
    background-color: #090909;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

#logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    color: #ff0051;
}

header { 
    background-color: #090909;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

main {
    width: 95%;
    margin: 0 auto;
    margin-top: 80px;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 380px;
}

#section1 > div > h1 {
    font-size: 3.5rem;
    max-width: 60%;
    flex-grow: 1;
    padding-bottom: 15px;
}

#section1 > div > p {
    max-width: 600px;
    color: lightgray;
    font-size: 1.3rem;
    padding-bottom: 30px;
}

#mao-robotica {
    width: 575px;
    padding-right: 25px;
}

#section2 {
    margin: 110px 0 25px 0;
}

#section-img1 {
    width: 320px;
    border: 1px solid rgba(122, 122, 122, 0.288);
    border-radius: 15px;
}

#section2 > div > #section-img1 {
    margin-left: 10rem;
}

#section2 > div > #section-img1 > h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.02rem;
    text-align: left;
    padding: 20px;
}

#section2 > div > #section-img1 > img {
    width: 320px;
}

#section2 > div > #section-img1 > p {
    text-align: center;
    color: lightgray;
    font-size: 0.85rem;
    padding: 20px;
}

ul.nav-links {
    display: flex;
    gap: 5px;
}

nav > ul > li {
    padding: 10px;
    list-style: none;
}

nav > ul > li a {
    font-size: 15px;
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav > ul > li a:hover {
    color: #ff0051;
}

.button-header {
    font-size: 15px;
    color: #ff0051;
    padding: 11px 25px;
    margin: 9px;
    border: 1px solid #ff0051;
    border-radius: 6px;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.button-header:hover {
    color: white;
}

.destaque {
    background: #ff0051;
    color: white;
    transition: background 0.1s ease-out;
}

.destaque:hover {
    background-color: #090909;
}

#titulo-text {
    margin-bottom: 5em;
    width: 400px;
    font-size: 17px;
    color: rgb(182, 182, 182);
}

#actions-titulo {
    position: relative;
    bottom: 55px;
}

/* TIPOGRAFIA */

h1 {
    color: white;
    font-size: 2.6rem;
}

h2 {
    color: white;
    font-size: 1.8rem;
}

p {
    color: white;
    font-size: 0.8rem;
}

