body {
    background-color: #090909;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    color: #ff0051;
}

.container {
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-links {
    display: flex;
    gap: 5px;
}

nav > ul > li {
    padding: 10px;
    list-style: none;
}

nav > ul > li a {
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav > ul > li a:hover {
    color: #ff0051;
}

.button-header {
    color: #ff0051;
    padding: 11px 15px;
    margin: 9px;
    border: 1px solid #ff0051;
    border-radius: 6px;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.button-header:hover {
    color: white;
}

.destaque {
    background: #ff0051;
    color: white;
    transition: background 0.1s ease-out;
}

.destaque:hover {
    background-color: #090909;
}


