body {
    background-color: #090909;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    color: #ff0051;
}

.header-container {
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-links {
    display: flex;
    gap: 5px;
}

nav > ul > li {
    padding: 10px;
    list-style: none;
}

nav > ul > li a {
    font-size: 15px;
    padding: 12px;
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav > ul > li a:hover {
    color: #ff0051;
}

.button-header {
    font-size: 15px;
    color: #ff0051;
    padding: 11px 15px;
    margin: 9px;
    border: 1px solid #ff0051;
    border-radius: 6px;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.button-header:hover {
    color: white;
}

.destaque {
    background: #ff0051;
    color: white;
    transition: background 0.1s ease-out;
}

.destaque:hover {
    background-color: #090909;
}

.main-container {
    width: 1400px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    gap: 50px;
}

#main-titulo {
    font-size: 3.5rem;
    color: white;
    width: 800px;
    margin: 0;
}

#titulo-text {
    margin-bottom: 5em;
    width: 400px;
    font-size: 17px;
    color: rgb(182, 182, 182);
}

#actions-titulo {
    position: relative;
    bottom: 55px;
}

#main-robotica {
    position: relative;
    right: 150px;
    border-radius: 13px;
    width: 585px;
}
